section {
    background-color: #eee;
}
#signUpButton, #rightSide {
    background-color: var(--purple);
}
#rightSide {
    width: 47%;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}
@media (min-width: 769px) {
    #rightSide {
        border-top-right-radius: .7rem;
        border-bottom-right-radius: .7rem;
    }
}
@media (max-width: 991px) {
    .removeRs{
        visibility: hidden;
        display: none!important;
    }
}
.btn-outline-danger{
    color: #7B3DFF;
    border-color: #7B3DFF;
}
.btn-outline-danger:hover {
    color: #fff;
    background-color: #7B3DFF;
    border-color: #7B3DFF;
}
.btn-check:focus+.btn-outline-danger, .btn-outline-danger:focus {
    box-shadow: 0 0 0 0.25rem #9669F5;
}
#forgotPasswordSize{
    font-size: 13px;
}

#topImg {
    width: 185px;
}
#bottomImg {
    width: 200px;
}


/* Styles pour les bordures des input en fonction de la solidité du mot de passe */
#passwordStrength {
    border-color: red;
    border-width: 2px;
    background-color: rgba(255, 0, 0, var(--opacity-passwordStrength));
}
.password-weak {
    border-color: red !important;
    background-color: rgba(255, 0, 0, var(--opacity-passwordStrength))!important;
}

.password-medium {
    border-color: orange !important;
    background-color: rgb(255, 165, 0, var(--opacity-passwordStrength))!important;
}

.password-strong {
    border-color: yellow !important;
    background-color: rgb(255, 255, 0, var(--opacity-passwordStrength))!important;
}

.password-verystrong {
    border-color: green !important;
    background-color: rgb(0, 128, 0, var(--opacity-passwordStrength))!important;
}
