section {
    background-color: var(--section-bg-color);
}

#signUpButton, #rightSide {
    background-color: var(--primary-color);
}

#rightSide {
    width: var(--right-side-width);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    #rightSide {
        border-top-right-radius: var(--border-radius-medium);
        border-bottom-right-radius: var(--border-radius-medium);
    }
}

@media (max-width: 991px) {
    .removeRs {
        visibility: hidden;
        display: none !important;
    }
}

.btn-outline-danger {
    color: var(--btn-danger-color);
    border-color: var(--btn-danger-color);
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: var(--btn-danger-color);
    border-color: var(--btn-danger-color);
}

.btn-check:focus + .btn-outline-danger, .btn-outline-danger:focus {
    box-shadow: 0 0 0 0.25rem var(--btn-danger-focus-shadow);
}

.size {
    font-size: var(--font-size-small);
}

#topImg {
    width: var(--img-width-small);
}

#bottomImg {
    width: var(--img-width-medium);
}

#passwordStrength {
    border-color: var(--password-weak-color);
    border-width: var(--border-width-medium);
    background-color: var(--password-weak-color);
    opacity: var(--opacity-passwordStrength);
}

.password-weak {
    border-color: var(--password-weak-color) !important;
    background-color: var(--password-weak-color) !important;
}

.password-medium {
    border-color: var(--password-medium-color) !important;
    background-color: var(--password-medium-color) !important;
}

.password-strong {
    border-color: var(--password-strong-color) !important;
    background-color: var(--password-strong-color) !important;
}

.password-verystrong {
    border-color: var(--password-verystrong-color) !important;
    background-color: var(--password-verystrong-color) !important;
}