.navbar{
    padding-inline: 10em;
}
.navbar-top{
    background-color: var(--purple-light)!important;
}
.navbar-bottom{
    padding-block: 0;
    padding-inline: 11em;
    font-size: 14px;
}
.navbar-brand{
    padding: 0;
}

.responsive-menu{
    flex-direction: initial!important;
    justify-content: center;
    margin-block: 0.2em;
}

.form-control{
    border-radius: 5em;
}

.menu-img{
    margin-left: 0.8em;
}
a > img {
    width : 37px;
    height : 37px;
}
#logoImg {
    width : auto;
    height : 37px;
}

/* Annimation des boutons de sélection de page */
.active {
    color: black!important;
    background: linear-gradient(to top, var(--purple-light) 0%, var(--purple-light) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    background-size: 99%!important;
}
/* Styles pour la classe .active uniquement sur la page d'accueil */
body.home .active {
    color: black !important;
    background: linear-gradient(to top, var(--black) 0%, var(--black) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    background-size: 99% !important;
}

.navbar-light .navbar-nav .nav-link{
    color: var(--purple-light);
}

.bg-custom-purple {
    background-color: var(--purple-light); /* Couleur d'arrière-plan violette */
    color: white; /* Couleur du texte en blanc */
}
.text-white{
    font-weight: bold;
}

.nav-link {
    position: relative;
    text-decoration: none;
    background: linear-gradient(to top, var(--purple-light) 0%, var(--purple-light) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .3s;
}
.nav-link:hover::after {
    transform: scaleX(1);
}
.nav-link:hover {
    background-size: 99% 100%;
}

.subNavbar {
    width: 100%;
}

#profileImg {
    border-radius: 50%;
}

@media (max-width: 660px) {
    .navbar{
        padding-inline: 2em;
    }
    .navbar-collapse {
        padding-top: 0.7em;
    }
}
.btn-custom-purple {
    color: var(--purple);
    border-color: var(--purple);
    background-color: transparent;
}

.btn-custom-purple:hover {
    color: black;
    background-color: var(--purple);
}