.homeTitle {
    font-weight: bold;
    justify-content: left;
    color: var(--white);  /* Assuming you have this variable for white color, if not, you can just use `white` directly */
}

.background {
    background-color: var(--purple-light) !important;
}

.block {
    display: block;
}

.btn {
    text-align: left;
}

.cta {
    position: relative;
    margin: auto;
    padding: 19px 22px;
    transition: all 0.2s ease;
}

.cta:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba(255, 171, 157, 0);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
}

.cta .visual {
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    vertical-align: middle;
}

.cta .svg1 {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: var(--white);  /* Same assumption about white color */
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
}

.cta:hover:before {
    width: 100%;
    color: var(--white);
    background: var(--purple);
    box-shadow: var(--shadow-default) 0 5px 15px;
}

.cta:hover .svg1 {
    transform: translateX(0);
}

.cta:active {
    transform: scale(0.96);
}

a:hover {
    color: var(--white);
}

.noneColor {
    text-decoration: none;
    color: var(--white);
}

.colorButton {
    background: var(--purple);
}

.sizeRs {
    max-width: 80%;
    height: auto;
}
.iconSize {
    height: 10em;
    width: 10em;
}

.card {
    border: none !important;
}

.padding {
    padding-block: 7rem!important;
    padding-inline: 10.9em!important;
}

.grow-button {
    padding: 3.5em 0;
    font-size: 16px;
    transition: transform 0.3s ease;

}

.grow-button:hover {
    transform: scale(1.1);
}

.row {
    justify-content: space-around;
}

.col, .grow-button {
    width: 19em;
}

#buttonContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5em;
}

/* Par défaut (pour les mobiles), mettons une petite marge négative */
.overlap {
    margin-top: -175px;
}

@media (max-width: 991px) {
    #decorationImg {
        display: none;
    }
    .padding {
        padding-top: 4em!important;
        padding-inline: 5em!important;
    }
    div.col-lg-6.col-md-4.text-right {
        display: none;
    }
    #buttonContainer {
        padding-top: 4em;
    }

}
@media (max-width: 767px) {
    .padding {
        padding-inline: 11em!important;
    }
    #buttonContainer {
        display: inline-block;
    }
    #buttonContainer>.col-md-4{
        padding-block: 1em;
    }
    .col, .grow-button {
        width: 20em;
    }
}
@media (max-width: 660px) {
    .padding {
        padding-inline: 3.4em!important;
    }

}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}