.background {
    background: var(--background-color);
}
.custom-input {
    width: 20em;  /* Hauteur par défaut pour tous les écrans */
}
.col-lg-4 {
    width: 80%;
}

.input-group-append > .btn {
    margin-left: 1em!important;
}

.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-right-radius: 5em;
    border-bottom-right-radius: 5em;
}
.round {
    border-radius: var(--border-radius-large) !important;
}

.padding {
    padding-top: var(--large-padding) !important;
    padding-bottom: var(--large-padding) !important;
}

.shadow {
    box-shadow: var(--shadow-default) 0 3px 8px;
}

.btn {
    text-align: left;
}

/* General styles */
.bg-body-tertiary {
    display: flex;
    align-items: center;
}

.responsive-image {
    max-width: 40%;
    height: 243px;
    flex-shrink: 0;
    width: 100%!important;
    object-fit: cover;
}

.text-content {
    margin-left: 1rem;
    flex-grow: 1;
}

/* Responsive styles */
@media (max-width: 768px) {
    .bg-body-tertiary {
        flex-direction: column;
        text-align: center;
    }

    .text-content {
        margin-left: 0;
        margin-top: 1rem;
    }
    .responsive-image {
        max-width: 100%;
    }
    .custom-input {
        width: 50px;
    }
}

/* Hover effect */
.grow-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grow-button:hover {
    transform: scale(1.03);
    box-shadow: 0 3px 8px var(--shadow-hover);
}
a > img {
    width: auto!important;
}

.lead {
    font-size: 1em;
}

#signetImg {
    height: 30px;
    width: 30px;
    margin-left: 2em;
}