.valid {
    border-color: green;
}
.invalid {
    border-color: red;
}

/* Styles pour les bordures des input en fonction de la solidité du mot de passe */
#passwordStrength {
    border-color: var(--red);
    border-width: 2px;
    background-color: rgba(255, 0, 0, var(--opacity-passwordStrength));
}
.password-weak {
    border-color: var(--password-weak-color)!important;
    background-color: rgba(255, 0, 0, var(--opacity-passwordStrength))!important;
}

.password-medium {
    border-color: var(--password-medium-color)!important;
    background-color: rgb(255, 165, 0, var(--opacity-passwordStrength))!important;
}

.password-strong {
    border-color: var(--password-strong-color)!important;
    background-color: rgb(255, 255, 0, var(--opacity-passwordStrength))!important;
}

.password-verystrong {
    border-color: var(--password-verystrong-color)!important;
    background-color: rgb(0, 128, 0, var(--opacity-passwordStrength))!important;
}