#title {
    display: flex;
    justify-content: space-between;
    margin-block: 1em;
}
#title > button {
    float: right;
}
#title > h2 {
    padding-right: 1em;
}

.input , #chooseFileLabel {
    width: 100%;
}

#categoriesLabel {
    display: flow-root;
}
#categoriesLabel > p {
    margin-inline: 1em;
    margin-block: .4em;
}

.bg-body-tertiary {
    margin-block: 2em;
    color: #727272;
}

#chooseFileLabel{
    text-align: center;
    display: grid;
    justify-content: center;
}

#chooseFileLabel > p {
    color: #727272;
    margin: 0;
}

#chooseFileLabel > img {
    padding-block: .5em 2em;
}

.textInput, .textInput > textarea {
    height: 15em;
}

#publishButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#publishButton {
    color: var(--purple);
    border-color: var(--purple);
}

#publishButton:hover {
    background-color: var(--purple);
    color: white;
}

.tag {
    margin-bottom: 0!important;
}

#myPostContent {
    padding-right: 12em;
}

#formSignet {
    margin: 0;
    padding: 0;
    background: 0;
    border: 0;
}