/*manageAccount*/
.custom-nav-link:hover, .custom-nav-link:focus, .custom-nav-link.active {
    outline: 2px solid var(--purple);  /* Changez la couleur comme vous le souhaitez */
    outline-offset: 2px;
    background-color: rgba(0, 0, 0, 0.05); /* Légère coloration de fond pour une meilleure visibilité */
}
.btn-custom {
    color: black;               /* Texte noir */
    border-color: red;          /* Contour rouge */
    background-color: transparent; /* Fond transparent */
}

.btn-custom:hover {
    color: white;              /* Texte blanc lors du survol */
    background-color: black;     /* Fond rouge lors du survol */
}
.ml-custom{
    margin-left: 10rem!important;
}
.hr-custom {
    max-width: calc(50% + 100px); /* 50% pour la moitié de la grille, 150px pour la largeur approximative des boutons */
    margin-left: 0;
    border-width: 2px 0 0 0;
}
.hr-color{
    border-color: red;  /* Colorie le haut de la ligne en rouge */
    background-color: red;
}
.hiddenInput{
    display: none;
}