/*manageAccount*/
.custom-nav-link:hover, .custom-nav-link:focus, .custom-nav-link.active, .on {
    outline: 2px solid var(--purple);  /* Changez la couleur comme vous le souhaitez */
    outline-offset: 2px;
    background-color: rgba(0, 0, 0, 0.05); /* Légère coloration de fond pour une meilleure visibilité */
}
.nav-pills .nav-link{
    margin-block: 0.2em;
}

.btn-custom {
    color: black;               /* Texte noir */
    border-color: red;          /* Contour rouge */
    background-color: transparent; /* Fond transparent */
}

.btn-custom:hover {
    color: white;              /* Texte blanc lors du survol */
    background-color: black;
}

.hr-custom {
    max-width: calc(50% + 100px); /* 50% pour la moitié de la grille, 150px pour la largeur approximative des boutons */
    margin-left: 0;
    border-width: 2px 0 0 0;
}
.hr-color{
    border-color: red;  /* Colorie le haut de la ligne en rouge */
    background-color: red;
}
.hiddenInput{
    display: none;
}
.custom-round{
    border-radius: 5em;
}
.custom-form{
    border-radius: 0.25em!important;
}
.btn-custom-green {
    color: green;
    border-color: green;
    background-color: transparent;
}

.btn-custom-green:hover {
    color: black;
    background-color: green;
}
/*myPost.php*/
.responsive-image-setting {
    max-width: 100%;   /* Ajuste la largeur de l'image à la largeur de son conteneur tout en préservant les proportions */
    height: auto;     /* Permet de conserver le ratio hauteur/largeur d'origine */
    display: block;   /* Élimine l'espace supplémentaire en bas pour aligner l'image avec le texte autour */
    margin: 0 auto;   /* Centrer l'image horizontalement si son conteneur est plus large que l'image */
}
.hidden{
    display: none;
}

#container {
    padding-inline: 11em;
}

@media (max-width: 660px) {
    #container {
        padding-inline: 3em;
    }
}

#rightSide {
    margin-top: 2em!important;
}

#mail {
    margin: 0.5em 0 0 !important;
    font-size: 16px!important;
}

.lineInputAndButton {
    display: flex!important;
}