.shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.round{
    border-radius: 0.75rem!important;
}
.colorTextLM{
    color: white;
    font-weight: bold;
    font-size: 100%;
}
/*Pour Augmenter la taille des qu'on passe la souris dessus*/
.grow-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #7B3DFF; /* Assuming this color for the button */
    color: black; /* Color for the text on the button */
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition effect for both scaling and shadow */
}

.grow-button:hover {
    transform: scale(1.1); /* Increase the button size by 10% */
    box-shadow: 0px 3px 8px #7B3DFF;
}





.row{
    --bs-gutter-x: 5rem;
}

/*Pour gérer la taille du texte */

.responsiveTitle {
    font-size: 2em; /* Taille par défault */
}

.responsiveText {
    font-size: 1em; /* Taille par défault */
}

/* Responsive adjustments */
@media (max-width: 1200px) {
    .responsiveTitle {
        font-size: 1.8em;
    }
}

@media (max-width: 992px) {
    .responsiveTitle {
        font-size: 1.6em;
    }
    .responsiveText {
        font-size: 0.95em;
    }
}

@media (max-width: 768px) {
    .responsiveTitle {
        font-size: 1.4em;
    }
    .responsiveText {
        font-size: 0.9em;
    }
}

@media (max-width: 576px) {
    .responsiveTitle {
        font-size: 1.2em;
    }
    .responsiveText {
        font-size: 0.85em;
    }
}